





















.container 
{
  width: 766px;
}


/* ---------------------------------------------------HERO------------------------------------- */
.top-section-head
{
  width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
}
.main-list-item
{
  width: calc((100% - 24px) / 2);
}
.hero-list
{
  gap: 72px 24px;
}
.icon
{
  display: none;
}
.main-bot-section
{
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
  margin: 0 auto;
 justify-content: center;
 align-items: center;
}