





















.container 
{
  width: 766px;
}


/* ---------------------------------------------------HERO------------------------------------- */
.top-section-head
{
  width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
}
.main-list-item
{
  width: calc((100% - 24px) / 2);
}
.hero-list
{
  gap: 72px 24px;
}
.icon
{
  display: none;
}
.main-bot-section
{
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px 24px;
}
.customers-list-item
{
  width: 168px;
  height: 88px;
}
.customers-link
{
  width: 168px;
  height: 88px;
}
.customers-list {
  gap: 72px 24px;
  width: 100%;
}

.footer-info-contact
{
  gap: 24px;
  flex-direction:row;
}
.footer-container
{
  justify-content:start;
  
  }

.footer
{
  padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 108px;
    padding-right: 164px;
}
.footer-info
{
  align-items: start;
}
.footer-soc
{
  align-items: start;
}
.footer-input
{
  width: 264px;
}
.form-container
{
 align-items: start;
}
.footer-form
{
  flex-direction: row;
}